.container{
    background-color: rgba(175, 17, 17, 0.804);
    position:relative;
    height:500px;
  }
  .box{
    border: 5px solid teal;
    padding: 5px;
    width:400px;
    text-align: center;
    position: absolute;
  }
  .top-left{
    top: 25px;
    left: 25px;
  }
  .btm-right{
    bottom:25px;
    right:25px;
  }